::deep th.fosa-nom {
    width: 14rem;
}

/* Subtle stripe effect */
::deep tr:nth-child(even) {
    background: rgba(0,0,255,0.1);
}

/* Don't collapse rows even if they are empty */
::deep tbody tr {
    height: 1.8rem;
}

.page-size-chooser {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
